$primary : #F4004A;
$primary-hover: #b5083c;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition 
$smooth: all .3s ease-in-out;



$background-color: #f2f2f2;
$text-color: #333;
$header-font-size: 3rem;
$subheader-font-size: 1.5rem;
$padding: 2rem;